@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

/*Använd 'namn' */

body {
    background-color: rgb(255, 224, 146);
    height: 2000px; 
    display: flex; 
    align-items: center;
    flex-direction: column;
   margin-left: 250px;
   margin-right: 250px;
   font-family: 'Cinzel';
   border: solid 2px black ;
}

html{
    
    background-image:url(img/ahabhbs.jpg) 

}

img {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px green;
    zoom: 100%;
    margin-bottom: 50px;
    transform: scale(1);
    transition: 0.3s;
 
}

img.gangaur, img.kites {
    height: 220px;
    width: auto;
}

.FestivalPics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 690px;
}

img:hover {
    box-shadow: 0px 0px 30px green;
    transform: scale(1.05);
}

h2{
    transform: scale(1);
    
    
}

h2:hover {
    transform: scale(1.15);
    transition: transform 0.3s;
}

h1{
    transform: scale(1);
    
}

h1:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

p{
    text-shadow: grey;
    margin-left: 50px;
    margin-right: 50px;
    
}
